ErrorDocument 404 /404.html

RedirectMatch 403 ^/folder_name/?$
ErrorDocument 403 default

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]
